rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pedidos/{id} {
      // Cualquier cliente puede CREAR un pedido (con campos controlados)
      allow create: if request.resource.data.keys().hasOnly(
          ['codigo','nombre','telefono','correo','carro','descripcion','imagenUrl','imagenId','fecha'])
        && request.resource.data.nombre is string && request.resource.data.nombre.size() < 200
        && request.resource.data.descripcion is string && request.resource.data.descripcion.size() < 3000
        && request.resource.data.imagenUrl.matches('https://res.cloudinary.com/.*');

      // Solo TU cuenta puede leer. Cambia el correo por el tuyo.
      allow read: if request.auth != null
        && request.auth.token.email == 'CAMBIA_ESTO_POR_TU_CORREO@ejemplo.com';

      allow update, delete: if false;
    }
  }
}
